<div *ngIf="group$ |async as group" class="group">
  <h1>{{ group.name }}</h1>
  <div *ngFor="let task of (tasks$ | async); trackBy: trackByTask" class="task">
    <h2>{{ task.name }}</h2>
    <h4>{{ task.description }}</h4>
    <div *ngIf="checkTaskStatus(task.taskGroupsByTaskId.nodes, group.id); else notSent">
      Sent
    </div>
    <ng-template #notSent>
      Not sent
      <button (click)="onSendTaskClick(task.id, group.id)">
        Send
      </button>
    </ng-template>
  </div>
</div>
